<h4>About</h4>
<p class="about_p">
    The blu-property app is a comprehensive solution designed to streamline the process of managing rental properties. With its intuitive interface and powerful features, the app caters to the needs of property owners, landlords, and tenants alike. Admins can efficiently create and manage user accounts, send payment reminders, and monitor financial transactions, while landlords can track their properties, communicate with tenants, and generate detailed reports. Tenants benefit from the app's convenience, allowing them to access lease agreements, make payments securely, and report maintenance issues directly. By leveraging cutting-edge technologies and user-friendly design, the blu-property app simplifies the complexities of property management, enabling all stakeholders to collaborate seamlessly and achieve their goals.
</p>
<br>
<div class="button-container">
    <button class="button" hx-get="http://localhost:5000/default-content" hx-target=".right-square">Back</button>
    <button class="button" onclick="window.location.href='https://wa.me/254703103960'">WhatsApp</button>
    <button class="button" onclick="window.location.href='tel:+254703103960'">Call</button>
    <button class="button" onclick="window.location.href='mailto:otienot75@gmail.com'">Email</button>
</div>
