<div class="back-container">
    <div class="button-container">
        <a href="/" class="button" style="text-decoration: none;">Back</a>
    </div>
</div>

<br><br>

<div class="form-square" id="form-holder">
    <form id="add-user-form" class="right-square" action="/add-user" method="POST" hx-target="#form-holder" hx-swap="innerHTML">
        <br>
        <h4>Add User</h4>
        <br>
        <input type="text" id="user_name" name="user_name" placeholder="Name" required>
        <input type="text" id="email_or_phone" name="email_or_phone" placeholder="email/phone" required>
        <br>    
        <select id="user_type" name="user_type" required>
            <option value="" disabled selected hidden>Role</option> 
            <option value="Landlord">Landlord</option>
            <option value="Tenant">Tenant</option>
        </select>
        <br>
        <!-- <select name="user_otp" id="user_otp" required>
            <option value="" disabled selected hidden>OTP</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select> -->
        <input type="hidden" name="user_otp" id="user_otp" value="yes">
        <br>
        <br>
        <div class="button-container">
            <button class="button" type="submit">Submit</button>
        </div>
    </form>
</div>

