<h4>Add Password</h4>
<form class="submit_form" hx-post="http://localhost:3000/add-submit" hx-target=".right-square">
    <input type="text" placeholder="Email/Phone" name="email_phone" required>
    <input type="password" placeholder="Password" name="password" required minlength="8">
    <input type="password" placeholder="Confirm Password" name="confirm_password" required minlength="8">
    <input type="hidden" name="user_type" value="tenant"> <!-- Adjust as needed -->
    <br>
    <div class="button-container">
        <button class="button" type="submit">Submit</button>
        <button class="button" hx-get="http://localhost:3000/default-content" hx-target=".right-square">Cancel</button>
    </div>
</form>
