<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Property Management App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/" class="brand">Blu-Property</a>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
</body>
</html>
